<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    RewriteCond %{HTTP_HOST} support\.valkyrja\.app$
    RewriteRule ^(.*)$ https://discord.gg/XgVvkXx [R=301,L]
    RewriteCond %{HTTP_HOST} discord\.valkyrja\.app$
    RewriteRule ^(.*)$ https://discord.gg/XgVvkXx [R=301,L]
    RewriteCond %{HTTP_HOST} support\.botwinder\.info$
    RewriteRule ^(.*)$ https://discord.gg/XgVvkXx [R=301,L]
    RewriteCond %{HTTP_HOST} discord\.botwinder\.info$
    RewriteRule ^(.*)$ https://discord.gg/XgVvkXx [R=301,L]
    RewriteCond %{HTTP_HOST} discord\.rhea-ayase\.eu$
    RewriteRule ^(.*)$ https://discord.gg/XgVvkXx [R=301,L]

    RewriteCond %{HTTP_HOST} invite\.valkyrja\.app$
    RewriteRule ^(.*)$ https://discordapp.com/oauth2/authorize?&client_id=278834060053446666&scope=bot&permissions=289795327 [R=301,L]
    RewriteCond %{HTTP_HOST} invite\.botwinder\.info$
    RewriteRule ^(.*)$ https://discordapp.com/oauth2/authorize?&client_id=278834060053446666&scope=bot&permissions=289795327 [R=301,L]
    RewriteCond %{HTTP_HOST} inviteb\.valkyrja\.app$
    RewriteRule ^(.*)$ https://discordapp.com/oauth2/authorize?&client_id=184289712591077377&scope=bot&permissions=289795327 [R=301,L]
    RewriteCond %{HTTP_HOST} inviteb\.botwinder\.info$
    RewriteRule ^(.*)$ https://discordapp.com/oauth2/authorize?&client_id=184289712591077377&scope=bot&permissions=289795327 [R=301,L]

    RewriteCond %{HTTP_HOST} twitter\.rhea-ayase\.eu$
    RewriteRule ^(.*)$ https://twitter.com/RheaAyase [R=301,L]
    RewriteCond %{HTTP_HOST} twitch\.rhea-ayase\.eu$
    RewriteRule ^(.*)$ https://twitch.tv/RheaAyase [R=301,L]
    RewriteCond %{HTTP_HOST} youtube\.rhea-ayase\.eu$
    RewriteRule ^(.*)$ https://youtube.com/RheaAyase [R=301,L]
    RewriteCond %{HTTP_HOST} steam\.rhea-ayase\.eu$
    RewriteRule ^(.*)$ http://steamcommunity.com/id/rhea-ayase [R=301,L]

</IfModule>
