// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
// Variables
@import "variables";

input[type=number], input[type=text], textarea {
  font-size: 1rem;
}
#docs-navigation-container ul {
  padding-left: 25px !important;
}
#docs-navigation {
  overflow-y: scroll;
}
.fixed-nav{
  position: fixed;
  width: 25%;
  top: 0;
}
.section-link.is-active {
}

@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";
@import "~mdi/scss/materialdesignicons";

$botwinder-blue: #206694;
$lightest-blue: #d4e9ff;
$lighter-blue: #c4e1ff;
$light-blue: #afd1f4;
$dark-blue: #0f5583;
$blue-bg: #8fc8ff;
$botwinder-red: #bd4147;

$primary: $lighter-blue;
$primary-invert: white;

//$background: $lightest-blue;
$code: $botwinder-red;

$family-primary: $font-family-sans-serif;

$title-color: $botwinder-blue;

$navbar-height: 5.9rem;
$navbar-background-color: $white;
$navbar-item-img-max-height: 3.75rem;
$navbar-item-color: $dark-blue;
$navbar-item-hover-background-color: $light-blue;
$navbar-item-active-background-color: $lighter-blue;
$navbar-tab-hover-background-color: $light-blue;

$panel-heading-background-color: white;
$panel-block-hover-background-color: $white-ter;

@import "~bulma/bulma";
@import "~bulma-tooltip/dist/bulma-tooltip";
@import "~bulma-switch/dist/bulma-switch";

.navbar, h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: $title-color !important;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar-brand a.navbar-item:hover {
  background-color: $light-blue;
}

a.navbar-item.is-active,
.navbar-link.is-active {
  background-color: $navbar-item-active-background-color;
}
.navbar-item {
  padding: 0.5rem 1.25rem;
}
.navbar-item, .navbar-link {
  justify-content: center;
  flex-direction: column;
}
.navbar-link {
  height: 100%;
}

.panel {
  .panel-block, .panel-tabs {
    background: white;
  }
}

.has-radius-small {
  border-radius: $radius-small;
}

.is-circular {
  $radius: 50%;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .2s ease;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
.panel p {
  margin-bottom: 0 !important;
}
.panel.is-fixed-height {
  max-height: 270px;
  overflow-y: auto;
  border-left: 1px solid $border;
  border-right: 1px solid $border;
  border-bottom: 1px solid $border;
  * {
    border-left: 0;
    border-right: 0;
  }
  :first-child {
    border-top: 0;
  }
  .panel-tabs {
    border: none !important;
  }
}