//@import 'unsemantic-grid-responsive-tablet';

@import 'config';
@import 'vendors';
//'Roboto' 'Source Sans Pro'
p{
  box-sizing: border-box;
  line-height: 1.42;
  letter-spacing: 0.2px;
}
body {
  position: relative;
}
html {
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
}
a, a:hover {text-decoration: none; }
a, a:link, a:visited, a:active {color: #b01016; }
a:hover {color: red;}
h1,h2,h3,h4,h5,h6,nav{
  letter-spacing: 0.05em;
  font-family: 'Alegreya SC', serif;
  color: $botwinder_blue;
}
h1{
  font-size: 36px;
  margin-top: 2px;
  &.title{
    font-size: 46px;
    margin: 0px;
  }
}
h2{
  font-size: 20px;
  margin-top: 2px;
}
h3{
  font-size: 17px;
  margin-top: 2px;
}
input[type="text"].code, textarea.code, .features-indent h2{
    font-family: 'Source Code Pro', 'Consolas', sans-serif;
}
.w50{
    width: 50%;
}
textarea.fluid-resize{
    resize: both;
}
.float-right{
    float: right;
}
body{
  margin: 0;
  font-family: 'Alegreya Sans', sans-serif;
}
p {
  margin-top: 1rem;
  margin-bottom: 0;
  color: #262626;
}
hr{
  border: solid $blue_bg;
}
.text-center{
  text-align: center;
}
.rounded-circle {
  border-radius: 50%;
}
img.square{
  max-width:100%;
  height: auto;
}
.container{
    padding: 50px 0;
}
.btn{
    &.btn-full-width{
        display: block !important;
        width: 100% !important;
    }
    &.btn-fading{
        border-style: solid !important;
        border-width: 2px 0 !important;
        border-radius: 0 !important;
        border: rgba(41,137,216,1); /* Old browsers */
        -moz-border-image: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, darken($blue_bg, 10) 50%, rgba(255,255,255,0) 100%) 1 0% !important; /* FF3.6-15 */
        -webkit-border-image: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,darken($blue_bg, 10) 50%,rgba(255,255,255,0) 100%) 1 0% !important; /* Chrome10-25,Safari5.1-6 */
        border-image: linear-gradient(to right, rgba(255,255,255,0) 0%,darken($blue_bg, 10) 50%,rgba(255,255,255,0) 100%) 1 0% !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        background-color: rgba(41,137,216,0.15);
        background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(darken($blue_bg, 10), 0.25) 50%, rgba(255,255,255,0) 100%) !important; /* FF3.6-15 */
        background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(darken($blue_bg, 10), 0.25) 50%,rgba(255,255,255,0) 100%) !important; /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(darken($blue_bg, 10), 0.25) 50%,rgba(255,255,255,0) 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        &:hover{
            -moz-border-image: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, darken($blue_bg, 20) 50%, rgba(255,255,255,0) 100%) 1 0% !important; /* FF3.6-15 */
            -webkit-border-image: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,darken($blue_bg, 20) 50%,rgba(255,255,255,0) 100%) 1 0% !important; /* Chrome10-25,Safari5.1-6 */
            border-image: linear-gradient(to right, rgba(255,255,255,0) 0%,darken($blue_bg, 20) 50%,rgba(255,255,255,0) 100%) 1 0% !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            background-color: rgba(41,137,216,0.15);
            background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(darken($blue_bg, 20), 0.25) 50%, rgba(255,255,255,0) 100%) !important; /* FF3.6-15 */
            background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(darken($blue_bg, 20), 0.25) 50%,rgba(255,255,255,0) 100%) !important; /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(darken($blue_bg, 20), 0.25) 50%,rgba(255,255,255,0) 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        }
        &:active, &:focus{
            -moz-border-image: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, darken($blue_bg, 30) 50%, rgba(255,255,255,0) 100%) 1 0% !important; /* FF3.6-15 */
            -webkit-border-image: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,darken($blue_bg, 30) 50%,rgba(255,255,255,0) 100%) 1 0% !important; /* Chrome10-25,Safari5.1-6 */
            border-image: linear-gradient(to right, rgba(255,255,255,0) 0%,darken($blue_bg, 30) 50%,rgba(255,255,255,0) 100%) 1 0% !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            background-color: rgba(41,137,216,0.15);
            background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(darken($blue_bg, 30), 0.25) 50%, rgba(255,255,255,0) 100%) !important; /* FF3.6-15 */
            background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(darken($blue_bg, 30), 0.25) 50%,rgba(255,255,255,0) 100%) !important; /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(darken($blue_bg, 30), 0.25) 50%,rgba(255,255,255,0) 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        }
    }
}
.blue .btn.btn-fading {
    -moz-border-image: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, darken($blue_bg - #222, 10) 50%, rgba(255,255,255,0) 100%) 1 0% !important; /* FF3.6-15 */
    -webkit-border-image: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,darken($blue_bg - #222, 10) 50%,rgba(255,255,255,0) 100%) 1 0% !important; /* Chrome10-25,Safari5.1-6 */
    border-image: linear-gradient(to right, rgba(255,255,255,0) 0%,darken($blue_bg - #222, 10) 50%,rgba(255,255,255,0) 100%) 1 0% !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background-color: rgba(41,137,216,0.15);
    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(darken($blue_bg - #222, 10), 0.25) 50%, rgba(255,255,255,0) 100%) !important; /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(darken($blue_bg - #222, 10), 0.25) 50%,rgba(255,255,255,0) 100%) !important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(darken($blue_bg - #222, 10), 0.25) 50%,rgba(255,255,255,0) 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    &:hover{
        -moz-border-image: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, darken($blue_bg - #222, 20) 50%, rgba(255,255,255,0) 100%) 1 0% !important; /* FF3.6-15 */
        -webkit-border-image: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,darken($blue_bg - #222, 20) 50%,rgba(255,255,255,0) 100%) 1 0% !important; /* Chrome10-25,Safari5.1-6 */
        border-image: linear-gradient(to right, rgba(255,255,255,0) 0%,darken($blue_bg - #222, 20) 50%,rgba(255,255,255,0) 100%) 1 0% !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        background-color: rgba(41,137,216,0.15);
        background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(darken($blue_bg - #222, 20), 0.25) 50%, rgba(255,255,255,0) 100%) !important; /* FF3.6-15 */
        background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(darken($blue_bg - #222, 20), 0.25) 50%,rgba(255,255,255,0) 100%) !important; /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(darken($blue_bg - #222, 20), 0.25) 50%,rgba(255,255,255,0) 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }
    &:active, &:focus{
        -moz-border-image: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, darken($blue_bg - #222, 30) 50%, rgba(255,255,255,0) 100%) 1 0% !important; /* FF3.6-15 */
        -webkit-border-image: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,darken($blue_bg - #222, 30) 50%,rgba(255,255,255,0) 100%) 1 0% !important; /* Chrome10-25,Safari5.1-6 */
        border-image: linear-gradient(to right, rgba(255,255,255,0) 0%,darken($blue_bg - #222, 30) 50%,rgba(255,255,255,0) 100%) 1 0% !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        background-color: rgba(41,137,216,0.15);
        background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(darken($blue_bg - #222, 30), 0.25) 50%, rgba(255,255,255,0) 100%) !important; /* FF3.6-15 */
        background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(darken($blue_bg - #222, 30), 0.25) 50%,rgba(255,255,255,0) 100%) !important; /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(darken($blue_bg - #222, 30), 0.25) 50%,rgba(255,255,255,0) 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }
}
.main-body{
  width: 100%;
  background-color: $light_blue_bg;
  &.lightblue{
    background-color: $light_blue_bg;
  }
  &.blue{
    background-color: $blue_bg;
    hr{
      border-color: $blue_bg - #222;
    }
  }
  .middle-container{
    width: $main_width;
    min-width: 300px;
    margin: 0 auto;
    padding: 50px 0;
    &.single-column{
      display: block;
    }
    .left-column{
      vertical-align: top;
    }
    .right-column{
      padding-left:100px;
      p{
        color: darken($botwinder_blue, 18);
        max-width: 1080px;
      }
      &.row {
        .row-child {
          padding-bottom: 50px;
        }
      }
    }
    .float-middle {
      width: 100%;
      h1,h2,h3,h4,h5,h6{
        text-align: center;
      }
      p, div {
        text-align: center;
      }
    }
    .section-big {
      h1 {
        font-size: 36pt;
      }
      p, div {
        font-size: 16pt;
      }
    }
    //@media (max-width: $media_tablet_size) {
    //    width: $main_width_tablet;
    //    padding-left:50px;
    //    padding-right:50px;
    //}
  }

}
.navbar{
    padding: 0 !important;
    border-radius: 0 !important;
}
.navbar-nav .nav-item + .nav-item {
    margin-left: 0 !important;
}
header{
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  > img{
    display: inline-block;
  }
  @media (max-width: 767px) {
    position: fixed;
    z-index: 999;
  }
  nav {
    //width: $main_width;
    font-family: 'Alegreya SC', serif;
    min-width: 848px;
    margin: 0 auto;
    position: relative;
    //@media (max-width: $media-desktop-min) {
    //  width: $main_width_tablet;
    //}
    @media (max-width: 767px) {
      .navbar-toggler[aria-expanded="true"] {
        -webkit-border-radius:0;
        -moz-border-radius:0;
        border-radius:0;
        background-color: $light_blue_bg;
      }
      #collapsingNavbar {
        position: absolute;
        width: 100%;
        z-index: 999;
        top:38px
      }
    }
  }
  ul{
    width: 100%;
    vertical-align: top;
    padding: 0;
    margin: 0;
    //display: inline-flex;
    //list-style: none;
    //align-items: flex-end;
    li{
      //flex-direction: row;
      //flex-wrap: nowrap;
      a{
        @media (max-width: 767px) {
          text-align: left;
          padding: 10px 17px !important;
        }
        @media (min-width:768px) and (max-width: 991px) {
          padding: 5px 13px !important;
          img {
              height: 40%;
              width: auto;
          }
        }
        //height: 95px;
        height: auto;
        text-align: center;
        background-color: #ffffff;
        display: block;
        color: $botwinder_blue !important;
        font-size: 12pt;
        text-decoration: none;
        padding: 10px 20px !important;
        -webkit-transition: $nav_link_hovertime ease-in-out all;-moz-transition: $nav_link_hovertime ease-in-out all;-ms-transition: $nav_link_hovertime ease-in-out all;-o-transition: $nav_link_hovertime ease-in-out all;transition: $nav_link_hovertime ease-in-out all;
        &:visited{
          color: $botwinder_blue !important;
        }
        &:hover{
          color: $botwinder_blue - #111 !important;
          background-color: saturate($light_blue_bg - #101010, 10);
        }
        &.active{
          color: $botwinder_blue - #111 !important;
          background-color: $light_blue_bg !important;
        }
        &:hover{
          -webkit-transition: $nav_link_hovertime ease-in-out all;-moz-transition: $nav_link_hovertime ease-in-out all;-ms-transition: $nav_link_hovertime ease-in-out all;-o-transition: $nav_link_hovertime ease-in-out all;transition: $nav_link_hovertime ease-in-out all;
        }
      }
    }
  }
}
small{
  font-size: small;
  font-family: Helvetica, Arial, sans-serif;
  &.x-small{
    font-size: x-small;
  }
}
footer{
  width: 100%;
  color:#aaaaaa;
  line-height: 1 !important;
  padding:5px 0;
  div:not(:first-child){
    margin-top:10px;
  }
  section{
    text-align: center;
  }
  h2{
    margin: 0;
    padding: 0;
  }
  ul{
    margin: 0;
    margin-top: 5px;
  }
}

.team-table{
  display: table;

  .row{
    display: table-row;
  }
  .cell{
    display: table-cell;
  }
}

.team-member{
  padding: 20px;

  .profile{
    display: table;
	margin-top: 15px;
  }
  .avatar{
    display: table-cell;
	width: 50px;
	height: 50px;
	border-radius: 50%;
  }
  .labels{
    display: table-cell;
	padding-left: 5px;
	vertical-align: middle;
	font-family: 'Alegreya SC', serif;
  }
  .name{
    font-weight: bold;
  }
}

.features-indent{
  margin-left: 20px;
  margin-bottom: 20px;
}

.features-h1{
  margin-top: 50px;
}

table.command{
  border: none;
  th, td {
    vertical-align: top;
    padding: 1px 20px;
  }
}

table.commands {
  border-collapse: collapse;
  border: 1px solid $table_border_color;
  th, td {
    padding: 10px 20px;
  }
  thead{
    background-color: $botwinder_blue;
    th {
      color: white;
      letter-spacing: 0.0241em;
      border-top: 1px solid $table_border_color;
      border-right: 1px solid desaturate($table_border_color, 10);
      border-bottom: 1px solid desaturate($table_border_color, 10);
      &:first-child{
        border-left: 1px solid $table_border_color;
      }
      &:last-child{
        border-right: 1px solid $table_border_color;
      }
    }
  }
  tbody{
    background-color: #b9d5ff;
    tr:nth-child(odd) {
      background-color: #a6c9fe;
    }
    td{
      border-right: 1px solid desaturate($table_border_color+#222, 10);
      border-bottom: 1px solid desaturate($table_border_color+#222, 10);
      &:first-child{
        border-left: 1px solid $table_border_color;
      }
      &:last-child{
        border-right: 1px solid $table_border_color;
      }
    }
    tr:last-child td {
      border-bottom: 1px solid $table_border_color;
    }
  }
}
.icons.spaced img{
  margin-right: 5px;
}
.email {
  font-family: arial, sans-serif;
  font-size: 9pt;
}
code {
  font-family: 'Source Code Pro', 'Consolas', sans-serif;
  font-size: 11pt;
  border: 1px solid rgba(darken($light_blue_bg, 25), 0.30);
  background-color: rgba(lighten($light_blue_bg, 9), 0.35);
  padding: 0 3px;
  border-radius: 4px;
}
pre {
  margin: 20px 0;
  &> code {
    display: block;
    padding: 15px;
    border-radius: 7px;
  }
}
img {
  border-style: none;
}
.grid-container {
  max-width: 100% !important;
}

#toc{
  overflow-y:auto;
}
.padding-bottom {
    padding-bottom: 80px;
}
.gray-links{
  a, a:link, a:visited, a:active {color: #aaaaaa; }
  a:hover{color: red;}
}
//@media (max-width: $media-desktop-min) {
//  .image-left {
//    display: block;
//  margin: 0 auto;
//  }
//}

.idSelector {
  display: table;
  background: #d3eaff;
  border: 1px solid #c0d5e9;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  width: 80%;
  border-collapse:separate;
  border-spacing: 8px;
  .listContainer {
    display: table-cell;
    background: #dcf5ff;
    border: 1px solid #c9e0e9;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    height: 250px;
    padding:8px;
  }
  .selectList {
    height:100%;
    overflow: auto;
    overflow-x: hidden;
    width:100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .listItem {
    width:100%;
    background: #e4f8ff;
    border: 1px solid #d0e2e9;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 5px;
    margin: 3px 0;
    cursor: pointer;
    &:hover {
      background: desaturate(darken(#e4f8ff, 4), 18);
    }
    &:active {
      background: desaturate(darken(#e4f8ff, 8), 18);
    }
    &.ghost {
      opacity: 0.75;
      border-style:dotted;
    }
    &.empty {
      opacity: 0.75;
      font-style: italic;
      cursor: default;
    }
  }

}