@import 'config';
//'Roboto' 'Source Sans Pro'
*{
  box-sizing: border-box;
  line-height: 1.42;
  letter-spacing: 0.2px;
  color: #262626;
}
h1,h2,h3,h4,h5,h6,nav{
  letter-spacing: 0.05em;
  font-family: 'Alegreya SC', serif;
  color: $botwinder_blue;
}
body{
  margin: 0;
  font-family: 'Alegreya Sans', sans-serif;
}
.middle-container{
  width: $main_width;
  min-width: 300px;
  margin: 0 auto;
  @media only screen and (max-width: $media_tablet_size) {
      width: $main_width_tablet;
  }
}
.container{
  background-color: $light_blue_bg;
  &.lightblue{
    background-color: $light_blue_bg;
  }
  &.blue{
    background-color: $blue_bg;
  }
  .middle-container{
    width: $main_width;
    display: flex;
    margin: 0 auto;
    padding: 50px 0;
    .left-column{
      vertical-align: top;
    }
    .right-column{
      flex-basis:2;
      padding-left:100px;
      p{
        color: darken($botwinder_blue, 18);
        max-width: 1080px;
      }
      &.row {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        .row-child {
          padding-bottom: 50px;
        }
      }
    }
    .float-middle {
      width: 100%;
      h1,h2,h3,h4,h5,h6{
        text-align: center;
      }
      p, div {
        text-align: center;
      }
    }
    .section-big {
      h1 {
        font-size: 36pt;
      }
      p, div {
        font-size: 16pt;
      }
    }
    @media only screen and (max-width: $media_tablet_size) {
        width: $main_width_tablet;
        padding-left:50px;
        padding-right:50px;
    }
  }

}
header{
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  box-shadow: 0 0 5px 2px rgba(0,0,0,0.2);
  //@media only screen and (max-width: $media_tablet_size) {
  //    padding-left:50px;
  //}
  > img{
    display: inline-block;
  }
  ul{
    vertical-align: top;
    padding: 0;
    margin: 0;
    display: inline-flex;
    list-style: none;
    align-items: flex-end;
    li{
      flex-direction: row;
      flex-wrap: nowrap;
      a{
        height: 95px;
        text-align: center;
        background-color: #ffffff;
        display: block;
        color: $botwinder_blue;
        font-size: 12pt;
        text-decoration: none;
        padding: 10px 20px;
        -webkit-transition: $nav_link_hovertime ease-in-out all;-moz-transition: $nav_link_hovertime ease-in-out all;-ms-transition: $nav_link_hovertime ease-in-out all;-o-transition: $nav_link_hovertime ease-in-out all;transition: $nav_link_hovertime ease-in-out all;
        &:visited{
          color: $botwinder_blue;
        }
        &:hover{
          color: $botwinder_blue - #111;
          background-color: saturate($light_blue_bg - #101010, 10);
        }
        &.active{
          color: $botwinder_blue - #111;
          background-color: $light_blue_bg;
        }
        &:hover{
          -webkit-transition: $nav_link_hovertime ease-in-out all;-moz-transition: $nav_link_hovertime ease-in-out all;-ms-transition: $nav_link_hovertime ease-in-out all;-o-transition: $nav_link_hovertime ease-in-out all;transition: $nav_link_hovertime ease-in-out all;
        }
      }
    }
  }
}
small{
  font-size:x-small;
  font-family: Helvetica, Arial, sans-serif;
}
footer{
  width: 100%;
  color:#aaaaaa;
  section{
    text-align: center;
  }
  h2{
    margin: 0;
    padding: 0;
  }
  ul{
    margin: 0;
    margin-top: 5px;
  }
}
table.commands {
  border-collapse: collapse;
  border: 1px solid $table_border_color;
  th, td {
    padding: 10px 20px;
  }
  thead{
    background-color: $botwinder_blue;
    th {
      color: white;
      letter-spacing: 0.0241em;
      border-top: 1px solid $table_border_color;
      border-right: 1px solid desaturate($table_border_color, 10);
      border-bottom: 1px solid desaturate($table_border_color, 10);
      &:first-child{
        border-left: 1px solid $table_border_color;
      }
      &:last-child{
        border-right: 1px solid $table_border_color;
      }
    }
  }
  tbody{
    background-color: #b9d5ff;
    tr:nth-child(odd) {
      background-color: #a6c9fe;
    }
    td{
      border-right: 1px solid desaturate($table_border_color+#222, 10);
      border-bottom: 1px solid desaturate($table_border_color+#222, 10);
      &:first-child{
        border-left: 1px solid $table_border_color;
      }
      &:last-child{
        border-right: 1px solid $table_border_color;
      }
    }
    tr:last-child td {
      border-bottom: 1px solid $table_border_color;
    }
  }
}
.icons.spaced img{
  margin-right: 5px;
}
.email {
  font-family: arial, sans-serif;
  font-size: 9pt;
}
code {
  font-family: 'Source Code Pro', 'Consolas', sans-serif;
  font-size: 11pt;
  border: 1px solid rgba(darken($light_blue_bg, 25), 0.30);
  background-color: rgba(lighten($light_blue_bg, 9), 0.35);
  padding: 15px;
  border-radius: 7px;
  &.small {
    padding: 0 3px;
    border-radius: 4px;
  }
}
img {
  border-style: none;
}